{% extends "templates/web.html" %}

{% macro email_login_body() -%}
<div class="page-card-body">
	 <div class="form-group">
		<input type="text" id="login_email" class="form-control" placeholder="jane@example.com" required autofocus>
	</div>
	<div class="form-group" style="margin-bottom: 0px !important;">
		<input type="password" id="login_password" class="form-control" placeholder="Password" required>
		<div style="margin-top: 10px;font-size: 12px;">
			<input type="checkbox" toggle="#login_password" class="toggle-password" style="text-align:center; vertical-align:middle; margin-top: 0px !important;float: left;" >
			<span style="float: left;">Show Password</span>
		</div>
	</div>

	<p class="forgot-password-message">
		<a href="#forgot">{{ _("Forgot Password?") }}</a></p>


<div class="page-card-actions">
	<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
		{{ _("Login") }}</button>

	{% if ldap_settings and ldap_settings.enabled %}
	<button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
		{{ _("Login with LDAP") }}</button>
	{% endif %}
</div>
	{%- if not disable_signup -%}
		<div class="text-center sign-up-message" style="margin-top: 90px;">
			{{ _("Don't have an account?") }}
			<a href="#signup">{{ _("Sign up") }}</a>
		</div>
	{%- endif -%}
	</div>

{% endmacro %}

{% block head_include %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

{% endblock %}

{% macro logo_section() %}
<div class="page-card-head">
	<img class="app-logo" src="{{ logo }}" style="max-width: 130px;">
	<h4>{{ _('Login')}}</h4>
</div>
{% endmacro %}

{% macro forgot_section() %}
<div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	<h4>{{ _('Forgot Password')}}</h4>
</div>
{% endmacro %}
{% macro signup_section() %}
<div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	<h4>{{ _('Sign Up')}}</h4>
</div>
{% endmacro %}



{% block page_content %}

<style>
.navbar-brand img {
    display: inline-block;
    max-width: 150px;
    max-height: 50px !important;
}
.for-login .page-card-head, .for-forgot .page-card-head, .for-signup .page-card-head, .for-email-login .page-card-head {
    margin: 0 auto;
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 600;
    margin-bottom: 0 !important
}

.forgot-password-message {
    float: right;
}
.for-login .page-card-head, .for-forgot .page-card-head, .for-signup .page-card-head, .for-email-login .page-card-head {
    margin: 0 auto;
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.box-form_bottom {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
}
.box-form {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    min-height: 600px;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 839px;
  border-radius: var(--border-radius-md);
  max-height: 550px;
}
.box-form_bottom .bottom .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
  width: 400px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f5f5f5;
  box-shadow: var(--shadow-base);
  border-radius: var(--border-radius-md);
  max-height: 550px;

}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  border: none;
  outline: none;
  background-color: #ffffff;
	border: none;
	color: var(--text-color);
	font-size: var(--text-base);
	margin-bottom: 1rem;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
}
@media (max-width: 500px){
.box-form{
	align-content: normal;
    align-items: normal;
}
.box-form .left{ display: none}
}
</style>
<div class="box-form">
	<div class="left">
		<div class="overlay">
			<div>
				<img src="{{ container_image }}" style="width: 100%; height: 100%;">
			</div>
		</div>
	</div>

	<div class="right">
		<section class='for-login'>
			<div class="login-content page-card">
				{{ logo_section() }}
				<form class="form-signin form-login" role="form">
					{%- if social_login -%}
					<div class="page-card-body">
						<div class="social-logins text-center">
							<div class="social-login-buttons">
								{% for provider in provider_logins %}
								<div class="login-button-wrapper">
									<a href="{{ provider.auth_url }}"
										class="btn btn-block btn-default btn-sm btn-login-option btn-{{ provider.name }}">
										{% if provider.icon %}
											{{ provider.icon }}
										{% endif %}
										{{ _("Login With {0}").format(provider.provider_name) }}</a>
								</div>
								{% endfor %}
								<p class="text-muted login-divider">{{ _("or") }}</p>
							</div>
						</div>
						<a href="#email"
							class="btn btn-block btn-default btn-sm btn-login-option">
						 {{ _("Login With Email") }}</a>
					</div>
					{% else %}
						{{ email_login_body() }}
					{%- endif -%}

				</form>
			</div>
		</section>
		{%- if social_login -%}
	<section class='for-email-login'>
		<div class="login-content page-card">
			{{ logo_section() }}
			<form class="form-signin form-login" role="form">
			{{ email_login_body() }}
			</form>
		</div>
		{%- if not disable_signup -%}
		<div class="text-center sign-up-message">
			{{ _("Don't have an account?") }}
			<a href="#signup">{{ _("Sign up") }}</a>
		</div>
		{%- endif -%}
	</section>
	{%- endif -%}
	<section class='for-signup {{ "signup-disabled" if disable_signup else "" }}'>
		<div class="login-content page-card">
			{{ signup_section() }}
			{%- if not disable_signup -%}
			<form class="form-signin form-signup hide" role="form">
				<div class="page-card-body">
					<div class="form-group">
						<label class="form-label sr-only" for="signup_fullname">Full Name</label>
						<input type="text" id="signup_fullname" class="form-control" placeholder="{{ _('Jane Doe') }}"
							required autofocus>
					</div>
					<div class="form-group">
						<label class="form-label sr-only" for="signup_email">Email</label>
						<input type="email" id="signup_email" class="form-control"
							placeholder="{{ _('jane@example.com') }}" required>
					</div>
				</div>
				<div class="page-card-actions">
					<button class="btn btn-sm btn-primary btn-block btn-signup"
						type="submit">{{ _("Sign up") }}</button>

					<p class="text-center sign-up-message">
						<a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
					</p>
				</div>
			</form>
			{%- else -%}
			<div class='page-card-head mb-2'>
				<span class='indicator gray'>{{_("Signup Disabled")}}</span>
				<p class="text-muted text-normal sign-up-message mt-1 mb-8">{{_("Signups have been disabled for this website.")}}</p>
				<div><a href='/' class='btn btn-primary btn-md'>{{ _("Home") }}</a></div>
			</div>
			{%- endif -%}
		</div>

	</section>

	<section class='for-forgot'>
		<div class="login-content page-card">
			{{ forgot_section() }}
			<form class="form-signin form-forgot hide" role="form">
				<div class="page-card-body">
					<div class="email-field">
						<input type="email" id="forgot_email" class="form-control"
							placeholder="{{ _('Email Address') }}" required autofocus>
					</div>
				</div>
				<div class="page-card-actions">
					<button class="btn btn-sm btn-primary btn-block btn-forgot"
						type="submit">{{ _("Reset Password") }}</button>
					<p class="text-center sign-up-message">
						<a href="#login">{{ _("Back to Login") }}</a>
					</p>
				</div>

			</form>
		</div>
	</section>
	</div>
</div>
{%- if container_content -%}
	<div class="box-form_bottom">
		<div class="bottom">
			<div class="overlay">
				<div style="color: black;">
					{{ container_content }}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}
{% endblock %}


{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
