.grid-row .grid-row-check {
	margin-top: 2px;
}

.navbar .navbar-home img {
	width: 60px;
	margin-right: 0px;
	margin-top: 0px;
	height: 16px;
}

li.dropdown.dropdown-help.dropdown-mobile {
	display: none;
}